.App {
  text-align: center;
}

.center-div {
  margin: auto;
  width: 100%;
}

.container {
  position: relative;
  width: 40%;
  margin: auto;
}

.detail-window {
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 100%;
}

.info-display{
  position: absolute;
  display: inline-block;
  top: 25%;
  left: 110%
}

.cell-array {
  position: absolute;
  left: 0%;
  float: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.SubGrid {
  margin: auto;
  width: 50%;
  z-index: 0;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
